@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
